* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.site-navigation {
    width: 1100px;
    margin: auto; 
    height: auto;
    overflow: hidden;
}

.logo {
    display: block;
    float: left;
    margin-top: 10px;
}

.navigation {
    float: right;
    line-height: 30px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.li-navigation {
    float: left;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
    font-size: 11pt;
    font-weight: 700;
    color: #0f0101;
    text-transform: uppercase;
    list-style-type: none;
    padding: 10px;
}

.a-nav {
    text-decoration-line: none;
    color: #5e5858;
}

.a-nav:hover {
    font-size: 11pt;
    color: #1abc9c;
    text-transform: uppercase;
}
 /* ***-- slider --*** */
.slider {
    width: 100%;
    max-height: 600px;
    margin: auto;
    position: relative;
}

.slider img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.slider-button {
    width: 104px;
    height: 104px;
    position: relative;
    background-color: #1abc9c;
    opacity: 0.65;
    border: none;
    outline: none;
    transition: opacity .4s ease;
}
.right-arrow::before,
.left-arrow::before {
    content: "";
    --s: 28px;
    --bd: 4px solid #fff;
    width: var(--s);
    height: var(--s);
    border-left:  var(--bd);
    border-top:  var(--bd);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.right-arrow::before {
    left: 45%;
    transform: translate(-50%, -50%) rotate(135deg);
}
.left-arrow::before {
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.slider-button:hover,
.slider-button:focus {
    background-color: #4ec6ab;
    opacity: 1;
    cursor: pointer;
}
.slider-button.left-arrow {
    position: absolute;
    top: 40%;
    left: 20%;
}

.slider-button.right-arrow {
    position: absolute;
    top: 40%;
    right: 20%;
}

.slider-text-all {
    position: absolute;
    top: 40%;
    left: 30%;
}
.slider-text1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
.slider-text2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.wrapper {
    width: 100%;
    margin: auto;
    font-size: 0;
    background-color: #e9f0fd;
    /* position: relative; */
}

h2 {
    padding: 100px 0 0 0;
    text-transform: uppercase;
    font-family: 'Roboto-black', sans-serif;
    font-size: 48px;
    color: #515151;
    font-weight: 700;
    text-align: center;
}

h2::after{
    display: block;
    text-align: center;
    content: "";
    height: 7px;
    width: 164px;
    margin: 30px auto 90px auto;
    background-color:#1abc9c;
    left: 50%;
    bottom: 0;
}

.container {
    width: 1110px;
    height: 400px;
    margin: auto;
    font-size: 0;
}

.card {
    float: left;
    width: 255px;
    height: 322px;
    margin-right: 30px;
    margin-bottom:30px;
    overflow: hidden;
    position: relative;
}

.card:last-child {
    margin-right: 0;
}

.overlay {
    position: absolute;
    width: 240px;
    height: 238px;
    left: 7px;
    top: 7px;
    background: #737373;
    opacity: 0;
    z-index: 10;
}

.card:hover .overlay {
    opacity: 0.4;
}

.name{
    width: 201px;
    height: 40px;
    background: #323232;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 13px;
    text-transform: uppercase;
    line-height: 40px;
    float: left;
}

.price {
    display: inline-block;
    width: 54px;
    height: 40px;
    background: #8c8c8c;
    color: #ffffff;
    font-size: 18px;
    padding-left: 12px; 
    vertical-align: top;
    line-height: 40px;
}

.card:hover .name {
    background: #1abc9c;
}

.card:hover .price {
    background: #7fd9c7;
}

img {
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
} 
.ikon-wraper {
    position: absolute;
    opacity: 0;
    width: 235px;
    left: 20px;
    top: 90px;
    transition-duration: 0.3s;
    z-index: 20;
}

.icon-btn {
    --s: 50px;
    box-sizing: border-box;
    background: transparent;
    margin: 0 8px 10px;
    height: var(--s);
    width: var(--s);
    border: 1px solid #fff;
    cursor: pointer;
    vertical-align: top;
}

.icon-btn--add {
    --s: 50px;
    width: calc(var(--s) * 3 + 4 * 10px);
    height: var(--s);
    background: #323232;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.icon-btn:hover {
    background: #1abc9c;
    opacity: 1;
    border: 1px solid #1abc9c;
}

.icon-btn--add:hover {
    background: #1abc9c;
    opacity: 1;
    border: 1px solid #1abc9c;  
}
  /* ======== icon ============== */
.icon {
    background-color: transparent;
    width: 25px;
    height: auto;
    display: block;
    margin: auto;
}

.icon-cart {
    float: left;
    width: 40px;
    height: auto;
    display: block;
    margin: auto;
    padding-left: 15px;
}

.icon-btn-text {
    padding-top: 4px;
    float: right;
    margin-right: 20px;
    color: #fff;
}

.card:hover .ikon-wraper{
    opacity: 1;
}

.icon-wrapper:hover {
    opacity: 1;
}

.footer {
    position: relative;
    height: 88px;
    width: 100%;
    background: #323232;
}

.footer-content {
    position: absolute;
    width: 500px;
    left: 35%;
    top: 40%;
    color: #fff;
    font-family: 'Opan Sans', sans-serif;
    font-size: 16px;
}

.a-footer {
    color: #46bfa9;
    text-decoration: none;
}

.a-footer:hover {
    font-size: 18px;
    font-weight: 600;
}